# =========================
# OS SYSTEM FILES (MAC & WINDOWS)
# =========================
.DS_Store
Thumbs.db

# =========================
# JAVA CLASS & BUILD FILES
# =========================
*.class
bin/
target/
out/

# =========================
# LOG FILES
# =========================
*.log

# =========================
# JAVA PACKAGES / ARCHIVES
# =========================
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# =========================
# ECLIPSE FILES
# =========================
.metadata/
.recommenders/
.settings/
.project
.classpath

# =========================
# LIBRARY FOLDER (JavaFX, MySQL, dll)
# =========================
lib/

# =========================
# JVM CRASH LOGS
# =========================
hs_err_pid*
replay_pid*
